body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
  border: 0.5px solid teal;
}

button:hover {
  background-color: rgb(151, 255, 255);
}

h1 {
  font-size: 28px;
  color: #333333;
}

p {
  font-size: 18px;
}
