footer {
  background-color: #52606d;
}

.title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  padding: 56px 0px;
}

.listContainer {
  padding-bottom: 46px;
  border-bottom: 2px solid #465461;
  display: flex;
  justify-content: space-between;
}

.listElement {
  color: #d0e8ff;
  font-size: 22px;
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 50px;
}

.socialsIcons {
  display: flex;
  gap: 35px;
}
