.cardsStyles {
  padding: 40px;
  background-color: white;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 449px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  display: flex;
  align-items: center;
  gap: 17px;
  color: rgba(141, 141, 141, 0.8);
}

.name {
  color: rgba(141, 141, 141, 0.8);
  font-weight: 500;
}

.title {
  font-size: 22px;
  font-weight: 700;
  max-width: 70%;
  padding: 40px 0px;
  text-align: start;
}

.local {
  display: flex;
  gap: 14px;
  align-items: center;
}

.localCity {
  color: rgba(141, 141, 141, 0.8);
  font-size: 15px;
  font-weight: 500;
}

.social {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}
.socialInfo {
  color: rgba(141, 141, 141, 0.8);
  font-size: 15px;
  font-weight: 500;
}
