.inputStyles {
  display: flex;
  position: relative;
  flex: 1;
}

input {
  font-size: 18px;
  font-weight: 400;
  padding: 34px 30px;
  min-width: 457px;
  text-align: center;
  border: none;
  width: 100%;
}

input::placeholder {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.icon {
  position: absolute;
  left: 30px;
  top: 35px;
  width: 28px;
  height: 22px;
  pointer-events: none;
}
