.work {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.work > h5 {
  color: rgba(105, 105, 105, 0.8);
}

.workCards {
  display: flex;
  gap: 56px;
}
