* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.openDialog {
  z-index: 2;
  padding: 10px 12px;
  font-size: 18px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.dialogOpen {
  display: flex;
}
.saveBtn {
  border: none;
  color: white;
  font-size: 16px;
  background-color: #2d80d4;
}

.saveBtn:hover {
  text-decoration: underline;
  color: rgb(219, 200, 200);
}

.dialogContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  width: 80vw;
  max-width: 700px;
  cursor: auto;
  min-height: 300px;
}

.dialogHeader {
  background-color: #2d80d4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.dialogBody > ul {
  list-style: none;
  padding: 10px;
}

.closeDialog {
  background-color: #2d80d4;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
