header {
  background-color: #cde7ff;
  text-align: center;
  width: 100%;
  position: relative;
  background-image: url("../../assets/icons/Rec.svg");
  background-position: bottom -50px right 0px;
  background-repeat: no-repeat;
  background-size: 700px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
li {
  list-style: none;
}
a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-decoration: none;
}

.formContent {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
  z-index: 1;
}

.formContent > h1 {
  font-size: 64px;
  font-weight: 700;
  max-width: 630px;
  padding-top: 130px;
}

form {
  display: flex;
  align-items: center;
  padding-bottom: 295px;
  width: 60%;
}
